.more-button {
    border-radius: 20px;
    background-color: #FC7324;
    border: none;
    height: 30px;
    width: 175px;
    box-shadow: 13px 15px 19px 8px rgba(0,0,0,0.49);
    margin-top: 10px;
    margin-bottom: 35px;
    cursor: pointer;
        color: #fff;

}

.button-container {
    text-align: center;
}