@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
}

p {
    font-family: 'Lora', serif;
}

@media screen and (min-width: 635px) {

    h1 {
        font-size: 12px;
        font-family: "Segoe UI", sans-serif;
        font-style: normal;
        color: #FFF;
        grid-column: 2/ 2;
        grid-row: 1;
        align-self: center;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
    }

    body {
        background-image: linear-gradient(#4d4b4b, #303030);
        color: #cfcfcf;
    }

    ul {
        font-family: 'Lora', serif;
    }


    .Top {
        position: sticky;
        top: 0;
        box-shadow: 20px 25px 41px -20px rgba(0, 0, 0, 0.75);
        background: #FC7324;
        padding: 0.8em;
        text-align: center;
        display: grid;
        grid-template-columns: 10% 90%;
    }

    .menu-bar {
        grid-column: 1 / 2;
        padding-left: 8px;
    }

    .Section-Home {
        display: grid;
        grid-template-columns: 50% 35% 15%;
        text-align: center;
    }

    .Home-Title {
        grid-column: 1 / 4;
        padding-top: 10px;
        padding-bottom: 10px;
        align-self: center;
    }

    .Home-text {
        grid-column: 1 / 4;
        align-self: center;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: left;
    }

    .Home-Title-Betreutes {
        grid-column: 1 / 4;
        padding-top: 10px;
        padding-bottom: 10px;
        align-self: center;
    }

    .pic-betreutes {
        justify-self: end;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .Home-Betreutes {
        padding-left: 10px;
        text-align: left;
        justify-self: start;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .Home-Title-Begleitetes {
        grid-column: 1 / 4;
        padding-top: 10px;
        padding-bottom: 10px;
        align-self: center;
    }

    .pic-begleitetes {
        justify-self: end;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .Home-Begleitetes {
        padding-left: 10px;
        text-align: left;
        justify-self: start;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .Home-Title-Leitbild {
        grid-column: 1 / 4;
        padding-top: 10px;
        padding-bottom: 10px;
        align-self: center;
    }

    .Home-Pic {
        width: 100%;
        grid-column: 1 / 4;
        border-bottom: 10px solid #FC7324;
    }

    .Home-Title-Leitbild {
        text-align: center;
    }

    .Article-Home-Leitbild-WerteHaltungen {
        padding-top: 10px;
        padding-bottom: 30px;
        margin-left: 12%;
    }

    .Home-Title-Leitbild-WerteHaltungen {
        padding-left: 3%;
        padding-top: 20px
    }

    .Home-Title {
        padding-top: 30px;
    }



    .Home-Leitbild {
        text-align: center;
    }

    .Fixed-Text {
        z-index: 1;
    }

    .article-home-text {
        text-align: left;
        grid-column: 1/4;
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
    }

    .Home-text {
        margin-left: 10%;
        margin-right: 10%;
    }

    footer {
        padding-top: 20px;
        background: linear-gradient(180deg, rgb(51, 50, 50) 0%, rgba(252, 115, 36, 1) 5%, rgba(252, 115, 36, 1) 100%);
        text-align: center;
        Display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25px 175px 30px;
    }

    footer a {
        font-size: 14.5px;
        font-family: "Segoe UI", sans-serif;
        font-style: italic;
        color: #FFF;
        text-decoration: none;
    }

    .title-bewik {
        grid-column: 1/2;
        font-size: 20px;
        text-align: left;
        padding-left: 38px;
    }

    .categories {
        text-align: left;
        grid-row: 2/2;
        list-style-type: none;
        align-self: center;
    }

    .title-contact {
        grid-column: 2/2;
        font-size: 20px;
        text-align: left;

    }

    .contact {
        grid-row: 2/2;
        grid-column: 2/2;
        text-align: left;
        align-self: center;
        color: #FFF;

    }

    .self-promotion {
        grid-row: 3/3;
        grid-column: 1/3;
        align-self: start;
        border-top: 3px solid #4d4b4b;
        color: #ffffff;
        font-size: 12px;
    }

    .self-promotion p {
        padding-top: 3px;
    }

    .Home-Leitbild-WerteHaltungen {
        text-align: left;
        grid-column: 1/3;
        margin-top: 1%;
    }

    .Grunds채tze-title {
        margin-left: 2%;
        margin-bottom: 20px;
    }

    .article-home-text-title {
        grid-column: 1/4;

    }

    .Angebot-title {
        text-align: left;
        padding-left: 28%;

    }

    .Title-mehr {
        padding-bottom: 25px;
    }

    .hinweis {
        background-color: rgba(255, 0, 0, 0.308);
        border-radius: 15px;
        padding: 1%;
        width: 75%;
        margin: 10px 0;
        margin-left: 14%;
        box-shadow: 6px 6px 25px -5px rgba(0,0,0,0.75);

    }

    .hinweis-text {
        margin: 0 20px;
    }

    .Zielpublikum {
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .Angebote-Liste {
        margin-left: 14%;
    }

    .Finanz-text {
        margin-right: 10%;
        margin-bottom: 20px;
    }

    .hinweis-beg {
        background-color: rgba(255, 0, 0, 0.3);
        border-radius: 15px;
        padding: 1%;
        width: 50%;
        margin: 20px 0;
        margin-left: 17%;
        box-shadow: 6px 6px 15px 2px rgba(0,0,0,0.75);
    }

    .fat-shit {
        font-weight: bold;
    }

    .table-thing {
        font-family: 'Lora', serif;
    }

    .Finanz-text-coaching {
        margin-bottom: 10px;
        margin-top: 6%;
    }

    .text-thing {
        text-align: left;
        grid-column: 1/4;
        margin-right: 5%;
        text-align: left;
    }

    .title-thing-2 {
        margin-bottom: 20px;
    }

    .freie-einger체ckt {
        margin-left: 2%;
        margin-bottom: 30px;
    }

    .grid-infrastruktur {
        display: grid;
        grid-template-columns: 5% 40% 50% 5%;
        grid-template-rows: 35px 300px 300px 300px 300px 300px 50px 35px 300px 300px 300px 300px 300px 300px;
    }

    .grid-infrastruktur-title {
        grid-column: 1/5;
        justify-self: center;
    }

    .grid-infrastruktur-img {
        grid-column: 2/3;
        justify-self: end;
        margin-right: 20px;
        height: 250px;
        width: auto;
        box-shadow: 6px 6px 15px 2px rgba(0,0,0,0.75);
    }

    .grid-infrastruktur-text {
        grid-column: 3/4;
    }

    #grid-infrastruktur-title-2 {
        grid-column: 1/5;
        grid-row: 8/9;
    }

    #grid-infrastruktur-text-1 {
        grid-row: 2/3;
    }

    #grid-infrastruktur-text-2 {
        grid-row: 3/4;
    }

    #grid-infrastruktur-text-3 {
        grid-row: 4/5;
    }

    #grid-infrastruktur-text-4 {
        grid-row: 5/6;
    }

    #grid-infrastruktur-text-5 {
        grid-row: 6/7;
    }

    #grid-infrastruktur-text-6 {
        grid-row: 9/10;
    }

    #grid-infrastruktur-text-7 {
        grid-row: 10/11;
    }

    #grid-infrastruktur-text-8 {
        grid-row: 11/12;
    }

    #grid-infrastruktur-text-9 {
        grid-row: 12/13;
    }

    #grid-infrastruktur-text-10 {
        grid-row: 13/14;
    }

    #grid-infrastruktur-text-11 {
        grid-row: 14/15;
    }

    #grid-infrastruktur-img-1 {
        grid-row: 2;
    }
    #grid-infrastruktur-img-2 {
        grid-row: 3;
    }
    #grid-infrastruktur-img-3 {
        grid-row: 4;
    }
    #grid-infrastruktur-img-4 {
        grid-row: 5;
    }
    #grid-infrastruktur-img-5 {
        grid-row: 6;
    }
    #grid-infrastruktur-img-6 {
        grid-row: 9;
    }
    #grid-infrastruktur-img-7 {
        grid-row: 10;
    }
    #grid-infrastruktur-img-8 {
        grid-row: 11;
    }
    #grid-infrastruktur-img-9 {
        grid-row: 12;
    }
    #grid-infrastruktur-img-10 {
        grid-row: 13;
    }
    #grid-infrastruktur-img-11 {
        grid-row: 14;
    }

    .grid-personen {
        display: grid;
        grid-template-columns: 5% 40% 50% 5%;
        grid-template-rows: 35px 300px 300px 300px 300px 300px 50px 35px 300px 300px;
    }

    .grid-personen-title {
        grid-column: 1/5;
        justify-self: center;
    }

    .grid-personen-img {
        grid-column: 2/3;
        justify-self: end;
        margin-right: 20px;
        height: 250px;
        width: auto;
        box-shadow: 6px 6px 15px 2px rgba(0,0,0,0.75);
    }

    .grid-personen-text {
        grid-column: 3/4;
    }

    .grid-personen-list {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    .grid-personen-list li {
        padding-left: 1em;
        text-indent: -1em;
    }

    .grid-personen-list li:before {
        content: "-";
        padding-right: 5px;
    }
   
    #grid-personen-text-1 {
        grid-row: 2/3;
    }

    #grid-personen-text-2 {
        grid-row: 3/4;
    }

    #grid-personen-text-3 {
        grid-row: 4/5;
    }

    #grid-personen-text-4 {
        grid-row: 5/6;
    }

    #grid-personen-text-5 {
        grid-row: 6/7;
    }

    #grid-personen-text-6 {
        grid-row: 9/10;
    }

    #grid-personen-text-7 {
        grid-row: 10/11;
    }

    #grid-personen-img-1 {
        grid-row: 2;
    }
    #grid-personen-img-2 {
        grid-row: 3;
    }
    #grid-personen-img-3 {
        grid-row: 4;
    }
    #grid-personen-img-4 {
        grid-row: 5;
    }
    #grid-personen-img-5 {
        grid-row: 6;
    }
    #grid-personen-img-6 {
        grid-row: 9;
    }
    #grid-personen-img-7 {
        grid-row: 10;
    }


    #dumb-programmer {
        padding-right: 65%;
    }

    .titel-impressum {
        margin-bottom: 10px;
    }

    .text-impressum {
        margin-bottom: 20px;
    }

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 2px 10px 41px 8px rgba(0,0,0,1);
    }

    .styled-table thead tr {
        background-color: #FC7324;
        color: #cfcfcf;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
    padding: 12px 15px;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color:#FC7324;
    }


    .link-impressum {
        color: #cfcfcf;
        text-decoration: none;
        font-style: italic;
    }

    .tele-nr {
        color: #cfcfcf;
        text-decoration: none;
        font-style: italic;
    }

    .google-mops {
        box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.75);
    }


}

@media screen and (max-width:634px) {

    h1 {
        font-size: 12px;
        font-family: "Segoe UI", sans-serif;
        font-style: normal;
        color: #FFF;
        grid-column: 2/ 2;
        grid-row: 1;
        align-self: center;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
    }

    body {
        background-image: linear-gradient(#4d4b4b, #303030);
        color: #cfcfcf;
    }

    ul {
        font-family: 'Lora', serif;
    }


    .Top {
        position: sticky;
        top: 0;
        box-shadow: 20px 25px 41px -20px rgba(0, 0, 0, 0.75);
        background: #FC7324;
        padding: 0.8em;

        text-align: center;
        display: grid;
        grid-template-columns: 10% 90%;
    }

    .menu-bar {
        grid-column: 1 / 2;
        padding-left: 8px;
    }

    .Section-Home {

        text-align: center;
    }

    .Home-Title {
        padding-top: 10px;
        padding-bottom: 10px;
        align-self: center;
    }

    .Home-text {
        align-self: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 10%;
        margin-right: 10%;
        text-align: left;
    }

    .Home-Title-Betreutes {

        padding-top: 10px;
        padding-bottom: 10px;
        align-self: center;
    }

    .pic-betreutes {
        justify-self: end;
        grid-column: 1/3;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .Home-Betreutes {
        padding-left: 10px;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .Home-Title-Begleitetes {
        padding-top: 10px;
        padding-bottom: 10px;
        align-self: center;
    }

    .pic-begleitetes {
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .Home-Begleitetes {
        padding-left: 10px;
        text-align: left;
        justify-self: start;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .Home-Title-Leitbild {
        padding-top: 10px;
        padding-bottom: 10px;
        align-self: center;
    }

    .Home-Pic {
        width: 100%;
        border-bottom: 10px solid #FC7324;
    }

    .Home-Title-Leitbild {
        text-align: center;
    }

    .Article-Home-Leitbild-WerteHaltungen {
        padding-right: 8px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .Home-Title-Leitbild-WerteHaltungen {
        padding-left: 7%;
        padding-top: 20px
    }

    .Home-Title {
        padding-top: 30px;
    }

    .Home-Leitbild {
        text-align: center;
    }

    .Fixed-Text {
        z-index: 1;
    }



    footer {
        padding-top: 20px;
        background: linear-gradient(180deg, rgb(51, 50, 50) 0%, rgba(252, 115, 36, 1) 5%, rgba(252, 115, 36, 1) 100%);
        text-align: center;
        Display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25px 175px 30px;
    }

    footer a {
        font-size: 14.5px;
        font-family: "Segoe UI", sans-serif;
        font-style: italic;
        color: #FFF;
        text-decoration: none;
    }

    .title-bewik {
        grid-column: 1/2;
        font-size: 20px;
    }

    .categories {
        text-align: left;
        grid-row: 2/2;
        list-style-type: none;
        align-self: center;
    }

    .title-contact {
        grid-column: 2/2;
        font-size: 20px;

    }

    .contact {
        grid-row: 2/2;
        grid-column: 2/2;
        text-align: left;
        align-self: center;
        color: #FFF;

    }

    .self-promotion {
        grid-row: 3/3;
        grid-column: 1/3;
        align-self: start;
        border-top: 3px solid #4d4b4b;
        color: #ffffff;
        font-size: 12px;
    }

    .self-promotion p {
        padding-top: 2px;
    }

    .Home-Leitbild-WerteHaltungen {
        text-align: left;
        grid-column: 1/3;
        margin-top: 1%;
        margin-left: 2%;
    }

    .Grunds채tze-title {
        padding-left: 10%;
    }

    .Angebot-title {
        text-align: left;
        padding-left: 10%;

    }

    .Title-mehr {
        padding-bottom: 25px;
    }

    .hinweis {
        background-color: rgba(255, 0, 0, 0.3);
        border-radius: 15px;
        padding: 1%;
        width: 75%;
        margin: 20px 0;
        margin-left: 10%;
    }

    .hinweis-text {
        margin: 0 20px;
    }

    .Zielpublikum {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Ziel-begleitetes {
        margin-left: 10%;
    }

    .Finanz-text {
        margin-left: 10%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .hinweis-beg {
        background-color: rgba(255, 0, 0, 0.3);
        border-radius: 15px;
        padding: 1%;
        width: 70%;
        margin: 20px 0;
        margin-left: 10%;
    }


    .fat-shit {
        font-weight: bold;
    }

    .table-thing {
        font-family: 'Lora', serif;
        margin-left: 10%;
        margin-top: 20px;
    }

    .Finanz-text-coaching {
        margin-bottom: 10px;
        margin-top: 6%;
    }

    .text-thing {
        text-align: left;
        grid-column: 1/4;
        margin-right: 5%;
        margin-left: 12%;
    }

    .title-thing-2 {
        margin-bottom: 20px;
        margin-left: 12%;
    }

    .freie-einger체ckt {
        margin-left: 8%;
        margin-bottom: 30px;
    }

    .grid-infrastruktur-img {
        margin-right: 20px;
        margin-bottom: 20px;
        height: 250px;
        width: auto;
        box-shadow: 6px 6px 15px 2px rgba(0,0,0,0.75);
    }

    .grid-infrastruktur {

        text-align: center;
    }

    .grid-infrastruktur-text {
        margin-bottom: 20px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .grid-infrastruktur-title {
        margin-bottom: 15px;
    }

    #grid-infrastruktur-text-11 {
        margin-bottom: 50px;
    }

    .grid-personen-img {
        margin-right: 20px;
        margin-bottom: 20px;
        height: 250px;
        width: auto;
        box-shadow: 6px 6px 15px 2px rgba(0,0,0,0.75);
    }

    .grid-personen {

        text-align: center;
    }

    .grid-personen-text {
        margin-bottom: 20px;
        margin-left: 2%;
        margin-right: 2%;
    }

    #grid-personen-text-11 {
        margin-bottom: 50px;
    }

    #grid-personen-text-7 {
        margin-bottom: 50px;
    }

    .grid-personen-list {
        text-align: left;
        margin-left: 15%;
        margin-right: 12%;
    }

    .grid-personen-text{
        margin-bottom: 70px;
    }

    #dumb-programmer {
        padding-right: 45%;
    }

    .titel-impressum {
        margin-bottom: 10px;
    }

    .text-impressum {
        margin-bottom: 20px;
    }

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 300px;
        box-shadow: 2px 10px 41px 8px rgba(0,0,0,1);
    }

    .styled-table thead tr {
        background-color: #FC7324;
        color: #cfcfcf;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
    padding: 12px 15px;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color:#FC7324;
    }

    .link-impressum {
        color: #cfcfcf;
        text-decoration: none;
        font-style: italic;
    }

    .tele-nr {
        color: #cfcfcf;
        text-decoration: none;
        font-style: italic;
    }

    .google-mops {
        box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.75);
    }
}